@{
  Layout = "_Layout";
}
<h1>Welcome to the Dr. Sneuss' Factory!</h1>
<input type="button" value="Machine List" onclick="location.href='@Url.Action("Index", "Machines")';" class="btn btn-warning" />
<input type="button" value="Engineer List" onclick="location.href='@Url.Action("Index", "Engineers")';" class="btn btn-warning" />
